{% extends 'core/base.html' %}

{% block title %}Contacto{% endblock %} 



  {% block headers %}
  {%load static%}
     <header class="masthead" width="800" height="400"  style="background-image: url(' {% static 'core/img/contacto.jpeg' %} ')">
        <div class="overlay"></div>
          <div class="container">
             <div class="row">
               <div class="col-lg-8 col-md-10 mx-auto">
                 <div class="site-heading">
          
                </div>
              </div>
           </div>
        </div>
      </header>
       {% endblock %}
       
