{% extends 'core/base.html' %}
{%block title%}Quienes Somos{%endblock%} 
    {% block contend %}
    <div class="container " >
    <div class="container py-3 ">
    <h4>Bienvenidos a nuestro Ecommerce de licores</h4>
    <h2>Quienes Somos </h2>
    </div>
    <div class="container py-3 border p-4 mb-3 ">
    <h2 style=" font-weight: bold ; "> 01. Locura's Beers</h2>
    <p>Somos una pequeña licoleria que estamos empezando a experimentar mas a fondo el mundo de la informatica ya que es mas facil de usarla ahora por el cual decidimos tener un ecommerce de licores  prducir y generar 
    mas clientela.
    En esta plataforma web se puede visualizar las categoria de licores mas producidos y vendidos por las empresas muy grandes de cada pais la cual estan importados las cuales pueden ser vinos,cervezas,champagne,ron, etc.</p>
    </div>
    <div class="container py-3 border p-4 mb-3">
    <h2 style=" font-weight: bold ;">02.Mision </h2>
    <p>"Nuestra mision es llevar una gran atencion al cliente virtualmente para que se sienta muy satisfecho a la hora de comprar los productos para producir y comercializar licores de buena calidad,
    para satisfacer a los clientes y consumidores generando recursos dirigidos a la salud, cultura y recreación, que contribuyan al desarrollo y bienestar de la comunidad con el apoyo y compromiso de su equipo humano."</p>
    </div>
    <div class="container py-3 border p-4 mb-3">
    <h2 style=" font-weight: bold ;">03.Vision </h2>
    <p>Mantener posicionamiento en el mercado como una empresa sólida y competitiva en nuestra actividad comercial.</p>
    </div>
    </div>
    {% endblock contend %}
    