{% extends 'core/base.html' %}
{%block title%}Quienes Somos{%endblock%} 
    {% block contend %}
    <div class="container " >
    <div class="container py-3 ">
    <h4>Bienvenidos a nuestro Ecommerce de licores</h4>
    <h2>Quienes Somos </h2>
    </div>
    <div class="container py-3 border p-4 mb-3 ">
    <h2 style=" font-weight: bold ; "> 01. Locura's Beer</h2>
    <p>Somos una pequeña licorería que estamos empezando a experimentar más a fondo el mundo de la informática, ya que es más fácil de usarla ahora, por el cual decidimos tener un e-commerce de licores, producir y generar 
    más clientela.
    En esta plataforma web se puede visualizar las Categorías de licores más producidos y vendidos por las empresas más grandes de cada país, la cual están importados, las cuales pueden ser vinos, cervezas, champán, ron, etc.</p>
    </div>
    <div class="container py-3 border p-4 mb-3">
    <h2 style=" font-weight: bold ;">02.Misión </h2>
    <p>"Nuestra misión es llevar una gran atención al cliente virtualmente para que se sienta muy satisfecho a la hora de comprar los productos para producir y comercializar licores de buena calidad,
    para satisfacer a los clientes y consumidores, generando recursos dirigidos a la salud, cultura y recreación, que contribuyan al desarrollo y bienestar de la comunidad con el apoyo y compromiso de su equipo humano.</p>
    </div>
    <div class="container py-3 border p-4 mb-3">
    <h2 style=" font-weight: bold ;">03.Visión </h2>
    <p>Mantener posicionamiento en el mercado como una empresa sólida y competitiva en nuestra actividad comercial.</p>
    </div>
    </div>
    {% endblock contend %}
    