{% extends 'core/base.html' %}


{% block title %}Recuperar Contraseña{% endblock title %} 

{% block contend %}
<div class="container align-items-center py-5">
          <div class="container">
  <h2 class="fw-bold text-justify py-5">Resetear contraseña</h2>
  <h5 class="fw-bold text-justify pb-4 pt-2">
    Ingresa su correo electrónico y le enviaremos instrucciones para ingresar
    una nueva contraseña
  </h5>
  <form method="POST" class="pb-3">
    {% csrf_token %}
    <label for="inlineFormInputGroupUsername" class="form-label fw-bolder">Correo Electrónico:</label>
    <input class="form-control" type="email" name="{{form.email.name}}" autocomplete="email" maxlength="254" required="" id="id_email">
    <div class="d-grid gap-2">
    <button type="submit" class="btn1 btn-primary">Enviar Correo</button>
    <a class="btn btn-secondary" href="{% url 'login' %}" role="button">Regresar</a>
</div>
  </form>
</div>
</div>
{% endblock  %}
